.event {
    padding: 80px;
    background-image: linear-gradient(rgb(5, 5, 5) , rgb(237, 192, 9) );

    .container {
        display: flex;
        margin-top: 64px;
        margin-bottom: 32px;
        
    }
    
    &__content {
        display: flex;
        
        font-size: 32;
        margin-bottom: 64px;

        &__details {
            

            h1 {
                color: #fff;
                font-size: 64px;
            }

            p {
                color: #fff;
                font-size: 40px;
            }

        }
        
    }

    @media (max-width: 640px) {
        &__content {
            display: block;
            margin-bottom: 18px;


        }

        
        
    }


}